/* html part  */

html {
  font-family: "Poppins", sans-serif;
}

/* nav part  */

.nav-search-field {
  border-radius: 5rem 0 0 5rem;
  background-color: transparent;
  border: 0.1rem solid rgb(247, 162, 152);
}
.nav-search-btn {
  border-radius: 0 5rem 5rem 0;
  border: 0.1rem solid rgb(247, 162, 152);
}
.nav-btn,
a:link,
a:visited {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(124, 84, 91);
}
.nav-btn:hover {
  color: rgb(78, 48, 53);
}
.contact-btn {
  background-image: linear-gradient(tomato, salmon);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* home part  */

.header-part {
  background-color: rgb(250, 219, 224);
  padding-bottom: 7rem;
}
.home-vag-img {
  /* width: 25rem; */
}
.home-title {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(126, 98, 102);
}
.home-subtitle-1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(5, 46, 71);
}
.home-subtitle-2 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  color: rgb(83, 83, 83);
}
.home-btn {
  background-image: linear-gradient(tomato, salmon);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.3rem;
  transition: 1s;
  cursor: pointer;
}
.home-btn:hover {
  padding-right: 2.5rem;
  box-shadow: 0 0 0.5rem gray;
}
.home-btn-arrow {
  transition: 1s;
}
.home-btn:hover .home-btn-arrow {
  transform: rotate(450deg);
  margin-left: 1rem;
}

/* groceries part  */

.groceries-img-bg {
  background-color: rgb(209, 206, 206);
  border-radius: 0.5rem;
}
.groceries-img {
  width: 10rem;
  height: 15rem;
  margin: 0 auto;
}
.card {
  border: none;
  box-shadow: 0 0 1rem gray;
  padding: 1rem;
}
.star-colour {
  color: rgb(233, 210, 0);
}
.star-blank-colour {
  color: gray;
}
.see-more-btn {
  background-image: linear-gradient(rgb(247, 106, 90), rgb(226, 124, 105));
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  color: aliceblue;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgb(165, 165, 165);
}
.groceries-price {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(236, 112, 40);
}
.order-btn {
  background-image: linear-gradient(tomato, salmon);
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 0.5rem rgb(165, 165, 165);
}

/* offer part  */

.offer-part {
  position: relative;
  margin-top: 2rem;
  height: 30rem;
}
.offer-img {
  width: 20rem;
}
.monthly-offer {
  /* position: absolute; */
  width: 70%;
  padding: 2rem;
  box-shadow: 0 0 1rem rgb(201, 201, 201);
  border-radius: 1rem;
  background-color: rgb(217, 237, 248);
}
.weekly-offer {
  position: absolute;
  top: 14rem;
  left: 20rem;
  width: 70%;
  padding: 2rem;
  box-shadow: 0 0 1rem rgb(201, 201, 201);
  border-radius: 1rem;
  background-color: rgb(217, 237, 248);
}

/* details part  */

.details-cata-img {
  width: 5rem;
}
.details-card {
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgb(202, 201, 201);
  margin-top: 1rem;
  padding: 1rem 0.5rem;
}
.details-title {
  font-size: 1.7rem;
}
.details-subtitle {
  font-size: 1rem;
}
