/* mobile and small ipad devics  */

@media only screen and (min-width: 0px) and (max-width: 688px) {
  /* navigation part  */

  .nav-btn,
  a:link,
  a:visited {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(124, 84, 91);
  }

  /* home part  */

  .home-title {
    font-size: 3rem;
  }
  .home-subtitle-1 {
    font-size: 3rem;
  }
  .home-subtitle-2 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    color: rgb(83, 83, 83);
  }
  .home-btn {
    font-size: 1rem;
  }

  /* offer part  */
  .offer-part {
    position: unset;
    height: auto;
  }
  .monthly-offer {
    width: 100%;
  }
  .weekly-offer {
    position: unset;
    width: 100%;
  }
}
